dist/
build/
*.pyo
*.pyc
*.py~
*.egg-info/
__pycache__/
*.egg
MANIFEST
.ipynb_checkpoints
linker_extension/nbextensions/notebook/linker_extension_notebook.js
linker_extension/nbextensions/tree/linker_extension_tree.js
linker_extension/nbextensions/common/linker_extension_common.js
screenshots/
node_modules/
linker_extension/tests/login_credentials.txt*
*.ipynb
.project
*jshintrc*