#ipython_notebook img {
  height: 60px;
  margin-top: -8px;
  margin-left: -5px;
}

#header {
    box-shadow: none;
    -webkit-box-shadow: none ;
    -mox-box-shadow: none;
}

#header #header-container-container {
    width: 100%;
    background:#07375b;
    background:-moz-linear-gradient(top,#10498C 0,#073774 100%);
    background:-webkit-gradient(left top,left bottom,color-stop(0,#10498C),color-stop(100%,#073774));
    background:-webkit-linear-gradient(top,#10498C 0,#073774 100%);
    background:-o-linear-gradient(top,#10498C 0,#073774 100%);
    background:-ms-linear-gradient(top,#10498C 0,#073774 100%);
    background:linear-gradient(to bottom,#10498C 0,#073774 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#10498C', endColorstr='#073774', GradientType=0);
}


body > #header #header-container {
    height:84px;
    padding-bottom: 57px;
    padding-top: 23px; 
}

#menubar-container-container {
    width: 100%;
    background:#F8F8F8;
    border-bottom: 1px solid #E7E7E7;
}

#menus {
  background: transparent;
  border-left: #DDDDDD;
  border-right: #FFFFFF;
  border-width: 1px;
  border-top-style: solid;
  margin-top: -1px;
}

.navbar-default .navbar-nav{
  height: 5px;
}

.navbar {
  border-bottom-style: none;
}

.navbar-default .navbar-nav > li > a {
  color: #777C85;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  height: 32px;
}

.navbar-nav > li.dropdown:nth-child(1) > a {
  box-shadow: -1px 0px 0px 0px #DDDDDD;
}

.navbar-nav > .publish-dropdown > a {
  border-right: 2px solid #DDDDDD;
  box-shadow: 1px 0px 0px 0px #FFFFFF;
}

.navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #777C85;
  background-color: #F8F8F8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #777C85;
  background-color: #F8F8F8;
  border-left: 1px solid #DDDDDD;
  border-bottom: none;
  border-right: 1px solid #FFFFFF;
}

#kernel_indicator {
  color: #777C85;;
}

.dropdown-menu {
  background-color: #F8F8F8;
  border: 1px solid #DDDDDD;
}

.dropdown-menu > li a, .dropdown-menu > li a:hover, .dropdown-menu > li a:focus {
  color: #777C85;
}

.dropdown-menu > li a:hover, .dropdown-menu > li a:focus {
  background-color: #DDDDDD; 
}

.dropdown-menu > .disabled a, .dropdown-menu > .disabled a:hover {
  color: darkgrey;
}

.dropdown-menu > .divider {
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #FFFFFF;
}

body {
  overflow: hidden
}
span.save_widget {
  margin-top: 35px;
}
span.save_widget span.filename, span.last_modified, .dirty-indicator-clean, span.checkpoint_status, span.autosave_status, #current-mode {
  color: #ffffff;
}

span.save_widget span.filename:hover {
  background-color: steelblue;
}

span#login_widget, #kernel_logo_widget, a.btn.btn {
  margin-top: 25px;
}

span#login_widget {
  margin-left: 4px; 
}

#fields1 > input, #fields2 > input, #data_fields > input, .referencedBy, #licence-url, .citation, #extra_nb_metadata_1 > input, #extra_nb_metadata_2 > input, .download-url, #files-page > input, #metadata-page > input{
  margin-bottom: 8px;
  outline: none;
  box-shadow: none; 
  width: 600px;
}

#fields2 input[readonly], #metadata-page input[readonly] {
  width: 533px;
}

#fields1 > label, #fields2 > label, #data_fields > label, #extra_nb_metadata_1 > label, #extra_nb_metadata_2 > label, #files-page > label, #metadata-page > label {
  margin-bottom: 2px;
  display: block;
}

[for=licence-file-radio], [for=licence-url-radio]{
  margin-left: 3px;
  position: relative;
  bottom: 4px;
}

[for=author-first-name-0],  [for=author-first-name-1] {
  margin-left: 178px;
  display: inline-block;
}

[for=author-last-name-0], [for=author-last-name-1]{
  display: inline-block;
}
.author-first-name {
  margin-left: 20px;
  width: 290px;
}
.author-last-name {
  width: 290px;
}
.author{
  display: inline-block;
  margin-right: 10px;
  outline: none;
  box-shadow: none; 
}

.btn-add, .btn-remove {
  margin-bottom: 2px;
  margin-left: 7px;
}

.btn-date {
  margin-top: 4px;
}

#current-date {
  margin-left: 8px;
}


textarea {
  width: 600px;
  max-width: 600px;
  height: 80px;
  outline: none;
  box-shadow: none; 
}

.hide-me {
  display: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  z-index: 10000;
}

.alert {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 5px;
}

.celltoolbar {
  height: auto;
}

.cell-urls-container {
  width: 100%;
  margin-left: 8px;
}

.referenceURL {
  height: 26px;
  margin-bottom: 3px;
  width: 95%;
}

.remove-cell-url-button, .add-cell-url-button {
  margin-left: 3px;
}

.bundle-button, .bundle-cancel-button {
  display: none;
  margin-right: 5px;
}

.bundle-instructions{
  display: none;
  padding-top: 4px;
}

.dynamic-instructions{
  display: none;
}

input.fileinput {
  position: absolute;
  width: inherit;
  margin-top: -3px;
  margin-left: -8px;
}

#year, #month, #day {
  height: 31px;
  margin-right: 10px;
  width: 100px;
  outline: none;
  box-shadow: none; 
}

#username, #password {
  margin-right: 10px;
}

#bundle-divider {
  width: 150%;
  margin-bottom: 0px;
  margin-top: 18px;
  background-color: #DDDDDD;
  color: #DDDDDD;
  height: 1px;
  border: none;
}

.btn-file {
  margin-top: -3px;
  position: relative;
  overflow: hidden;
  height: 28px;
  margin-right: 4px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: inherit;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  width: inherit;
  height: inherit;
}

#licence-URL:disabled {
  cursor: not-allowed;
}

.btn-collapse {
  margin-top: 10px;
  margin-bottom: 6px;
  display: block;
}

#author-autocomplete-spinner {
  position: relative;
  right: 26px;
  margin-right: -22px;
}

label.required:after {
  content:"*";
  color:red;
}
#files-page .btn-file {
  margin-top: 2px;
  margin-bottom: 5px;
}
#data-files-wrap input {
  width: 62px;
  height: 27px;
  margin-left: -10px;
}
#data-files-list .MultiFile-remove {
  color: red;
}